<nav class="bg-gray-100 shadow-md mb-4">
  <ul class="flex space-x-9 px-6 py-3">
    <li>
      <a href="/" class="text-gray-700 font-semibold hover:text-blue-600 transition-colors">Accueil</a>
    </li>
    <li>
      <a href="/pizza" class="text-gray-700 font-semibold hover:text-blue-600 transition-colors">Pizza</a>
    </li>
    <li>
      <a href="/voitures" class="text-gray-700 font-semibold hover:text-blue-600 transition-colors">Voitures</a>
    </li>
  </ul>
</nav>
